/*body{
	font-family: Roboto;
	background: url(images/trakica2.jpg) no-repeat center center fixed;;
	background-size: cover;
}*/
body{
	background-color: #F0F8FF;
}
.jumbotron{
	margin-top: 15px;
}
.modal-content{
	background-color: #1E90FF;
	text-align: center;
	padding: 0;
}
input{
	margin-top: 10px;
	margin-bottom: 10px;
}
.btn-sm{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 30px;
}
.inputi{
	width: 590px;
}