body{
	background-color:#F0F8FF;
}
img {
	margin-top: 20px;
  border-radius: 50px;
  	height: auto;
  	width: 20%;
}
h2{
	color: 
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	color: #483D8B;
				
}
.cursor{
	cursor: pointer;
	
}
