<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Pregled svih bioskopa</title>
	<meta charset="utf-8">
	<meta charset="viewport" content="width=device-width,inicial-scale=1">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/korisnik.css}" />
	
</head>
<body>
	<div class="container">
		
		<div class="row">
			<div class="col-sm-12 text-center">
				<img alt="useri-slika"class="img mx-auto d-block" src="/images/user.png">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-center">
				<h2>Ime: </h2><h3 th:text="${korisnik.ime}" ></h3>
			</div>
			<div class="col-sm-6 text-center">
				<h2 >E-mail <span class="glyphicon glyphicon-envelope"></span><h3 th:text="${korisnik.eadresa}"></h3> </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-center">
				<h2 >Prezime: </h2><h3 th:text="${korisnik.prezime}" ></h3>
			</div>
			<div class="col-sm-6 text-center">
				<h2 >Datum rođenja <span class="glyphicon glyphicon-calendar"></span> </h2><h3 th:text="${korisnik.datumRodjenja}" ></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-center">
				<h2 >Korisnicko ime <span class="glyphicon glyphicon-user"></span> </h2><h3 th:text="${korisnik.korisnickoIme}" ></h3>
			</div>

			<div class="col-sm-6 text-center">
				<h2 >Uloga <span class="glyphicon glyphicon-pencil"></span> </h2><h3 th:text="${korisnik.uloga}" ></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-center">
				<h2 >Lozinka <span class="glyphicon glyphicon-eye-close"></span> </h2><h3 th:text="${korisnik.lozinka}" ></h3>
			</div>
			
			<div class="col-sm-6 text-center">
				<h2 >Aktivan <span class="glyphicon glyphicon-ok"></span> </h2><h3 th:text="${korisnik.aktivan}" ></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-center">
				<h2 >Kontakt lelefon <span class="glyphicon glyphicon-earphone"></span> </h2><h3 th:text="${korisnik.kontaktTelefon}" ></h3>
			</div>
		</div>
	</div>
	
</body>
</html>