<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Pocetna stranica</title>
	<meta charset="utf-8">
	<meta charset="viewport" content="width=device-width,inicial-scale=1">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="/css/pocetna.css" />
	<script type="text/javascript">
		function greeting(){
			alert("Dobro dosli na ovu stranicu");
		}
	</script>
</head>
<body onLoad="greeting()">
	<header>
		
	</header>
	<main>
		<nav>
			<ul >
				<li><a href="#">Pocetna<span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="filmovi">Filmovi<span class="glyphicon glyphicon-film"></span></a></li>
                <li><a href="#">Profil   <span class="glyphicon glyphicon-user"></span></a></li>
				<li><a href="loginuj-se">Sign in<span class=" glyphicon glyphicon-log-in "></span></a></li>
			</ul>
		</nav>
	</main>
	<div class="modal-dialog text-center">
		<div class="col-sm-12">
			<div class="modal-content">
				<h2 class="text-center">Pretrazi film po zeljenom kriterijumu</h2>
				<form th:action="@{/pretrazi-film}" th:object="${film}" method="get" class="form-inline d-flex justify-content-center md-form form-sm mt-0">
					<input name="naziv" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Naziv" aria-label="Search">
					<!--th:field="*{naziv}" ne radi-->
					<button type="submit" ><span class="glyphicon glyphicon-search"></span></button>
	            </form>
	            <form th:action="@{/pretrazi-film-zanr}" th:object="${film}" method="get" class="form-inline d-flex justify-content-center md-form form-sm mt-0">
					<input name="zanr" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Zanr" aria-label="Search">
					<button type="submit" ><span class="glyphicon glyphicon-search"></span></button>
	            </form>
	            <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
					<input name="ocena" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Ocena" aria-label="Search">
					<button type="submit" ><span class="glyphicon glyphicon-search"></span></button>
	            </form>
			</div><!--end modal content-->
		</div>
	</div>
	<!--<form th:action="@{/pretrazi-film}" th:object="${film}" method="get">
		<label for="Naziv"> naziv:</label>
		<input id="Naziv" type="text" th:field="*{zanr}"/>
	</form>-->
	<div class="col-sm-12">
		<div class="container">
			<div class="jumbotron">
				Dobro došli na našu zvaničnu stranicu!
Ovo je stranica koja vam omogućava najobuhvatniji pregled svih filmova I bioskopa širom Novog Sada. Nadamo se da smo u potpunosti ispunili vasa očekivanja I da će te sa lakoćom izabrati filmove, na lokaciji koja vama najviše odgovara. Uživaj te u našem sadržaju!<span class="glyphicon glyphicon-hand-up"></span> 
			</div>
		</div>
	</div>
	

</body>
</html>